<%= form_for @massage ,class: " form " do |f| %>
<div class=" form-group">
	<div class="col-sm-6">
		<label>Service Date</label>
		<%= f.text_field :service_date ,:value => "#{@date}",class: "form-control" %>
	</div>
	<div class="col-sm-6">
		<label>Reciept Number</label>
	<%= f.text_field :receipt_num ,class: "form-control" %></div>
</div>
<div class=" form-group">
	<div class="col-sm-6">
		<label>First Name</label>
		<%= f.text_field :fname ,class: "form-control" %>
	</div>
	<div class="col-sm-6">
		<label>Last Name</label>
		<%= f.text_field :lname ,class: "form-control" %>
	</div>
</div>
<div class=" form-group">
	<div class="col-sm-8">
		<%= f.label :cardtype, 'Mastercard' ,class: "m-l-5" %>
		<%= f.radio_button :cardtype, 'Mastercard' , :class => '' %>
		<%= f.label :cardtype, 'Visa' ,class: "m-l-5" %>
		<%= f.radio_button :cardtype, 'Visa' , :class => '' %>
		<%= f.label :cardtype, 'Debit' ,class: "m-l-5" %>
		<%= f.radio_button :cardtype, 'Debit' , :class => '' %>
		<%= f.label :cardtype, 'Cash' ,class: "m-l-5" %>
		<%= f.radio_button :cardtype, 'Cash' , :class => '' %>
	</div>
	<div class="col-sm-4">
		<%= f.label :amount, 'Amount' ,class: "m-l-5" %>
		<%= f.text_field :amount ,class: "form-control" %>
	</div>
</div>

<div class="col-sm-12">
	<%= f.label :deposit_date, 'Deposit Date' ,class: "m-l-5" %>
	<%= f.datepicker "deposit_date",:dateFormat => "yy-mm-dd",class: "form-control" %>
</div>

<div class="clear">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<%= f.submit "Done" ,class:"btn btn-info" %>
</div>

<% end %>
