<table id="main-table" class="table table-bordered tablesorter">
    <thead>
      <tr>      
      <th>Service Date</th>
      <th>Receipt Number</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>PayType</th>
      <th>Pay Tax </th>
      <th>Payment Total</th>
      <th>Deposit Date </th>
            <th>Action </th>

    </tr>
  </thead>
  <tbody>

  <%= @controller_name = @data.model.name.to_s.downcase.pluralize %>
    <% @data.each do |m| %>
    <tr>
      <td><%= best_in_place m, :service_date,:as => :date,:place_holder=> "-----------" %></td>

      <td><%= best_in_place m, :receipt_num,:place_holder=> "-----------" %></td>
      <td><%=  best_in_place m,:fname,:place_holder=> "-----------" %></td>
      <td><%= best_in_place m,:lname,:place_holder=> "-----------" %></td>
      <td><%= best_in_place m,:cardtype ,:as => :select, :collection => %w(Mastercard Visa Debit Cash),:place_holder=> "-----------" %></td>
      <td><%= best_in_place m,:tax,:place_holder=> "-----------" %></td>
      <td><%= best_in_place m,:amount,:place_holder=> "-----------" %></td>
      <td><%= best_in_place m,:deposit_date ,:as => :date,:place_holder=> "-----------" %></td>

      <td><%= link_to '<i class="fa fa-trash"></i>  Delete'.html_safe, m, :method => 'delete', remote:true, :data => { :confirm => '你确定你要删除？'}%> </td>



    </tr>
    <% end %>
  </tbody>
</table>

